.message-item-system .msg-action-btn {
    text-align: center;
    margin-top: 10px;
}
.msg-audio-btn{
    margin:0;
    padding-top: 10px;
}

@media only screen and (min-width: 768px) {
    .message-item-system .msg-action-btn {
        display: flex;
    }
    .message-item-system .msg-action-btn .msg-page-btn{
        flex:1;
    }
    .message-item-system .msg-action-btn .msg-sent-btn{
        flex:0 0 120px;
    }
    .msg-audio-btn{
        text-align: center;
        vertical-align: middle;
        margin: auto;
        padding-top: 0px;
    }
    
}
.msg-link-btn{
    float: right;
    padding: 0;
    margin-right: 0;
}
.msg-item-buttons button{
    margin-right:5px;
}