.role-list-wrapper{
    background-color: #f0f2f5;
    padding: 30px;
}
.role-list-wrapper .ant-card-body{
    max-height:350px;
    overflow: auto;
}
.role-list-wrapper .role-title{
    color:var(--color-primary);
    font-style: oblique;
}
.role-tags{
    margin-top:10px
}