.ai-image-page .ant-layout-sider {
    background: #e5e7eb;
    padding: 10px;
}
.ai-image-page-content{
    background: #fff;
    padding: 10px;
}
.ai-image-page-content .ant-layout-header{
    background: #fff;
}

.ai-image-page-content-header span{
    font-size: 16px;
    font-weight: 600;
}
