.new-chat-page{
    /* background-image:url("../../../public/home_bg.png"); */
    overflow: auto;
}
.new-chat-page .new-chat-title{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}
.new-chat-page .input-wrapper,.label-wrapper{
    display: inline-block;
}

.new-chat-page .label-wrapper{
   font-size: 16px;
   margin-right: 20px;
}
.new-chat-page .new-chat-model{
    text-align: center;
    margin-bottom: 20px;
}
.new-chat-page .just-start{
    text-align: center;
    margin-bottom: 20px;
}
.new-chat-page .just-start button{
    width:200px;
    margin-left: 20px;
}
.new-chat-page .role-config-page{
    background-image: none;
}
.new-chat-page .role-config-page .role-list-wrapper{
    background-color: rgba(0, 0, 0, 0);
}


@media only screen and (max-width: 430px){
    .new-chat-page .just-start{
        padding: 20px;
    }
    .new-chat-page .just-start button{
        width:100%;
        margin-bottom: 10px;
        margin-left: 0;
    }
}