
.chat-body {
    position:fixed;
    top:0;
    bottom:0;
    right:0;
    left:0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.chat-wrapper .chat-content{
    display: flex;
    top: 56px;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}
.chat-wrapper .chat-header{
    display: flex;
    position: relative;
}

.chat-wrapper .chat-header .chat-left-content{
    text-align: center;
    padding: 5px;
    box-sizing: content-box;
}

.chat-wrapper .chat-header .chat-left-content button{
    margin-left: 32px;
    display: block;
    margin-top: 3px;
}


.chat-wrapper .chat-header .chat-right-content{
    padding: 5px;
}

.chat-wrapper .chat-left-content{
    position: relative;
    flex:0 0 250px;
    overflow: auto;
}
.chat-wrapper .chat-right-content{
    position: relative;
    flex:1;
    display: flex;
    flex-direction: column;
}
.ant-list-item-meta-title{
    margin-top: 0;
}
.chat-right-content .message-page .message-list{
    position: absolute;
    top:0;
    bottom:48px;
    left:0;
    right:0;
    overflow: auto;
}
.chat-right-content .message-page .send-button{
    position: absolute;
    bottom: 0;
    left:0;
    right:0;
    padding: 6px 6px 2px 6px;
    box-sizing: border-box;
}
.config-page{
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

@media only screen and (min-width: 768px) {
    .chat-wrapper {
        padding: 15px;
    }
    .chat-body {
        border-radius: 20px;
        top: 15px;
        bottom: 15px;
        right: 15px;
        left: 15px;
        border: 1px solid #0003;
        box-shadow: 1px 1px 1px 1px #0003;
    }
 }