.image-params-wrapper .ant-radio-button-wrapper{
    width: 110px;
    font-size: 13px;
    padding-inline: 10px;
}
.image-params-wrapper .ant-radio-button.ant-radio-button-checked{
    border-radius: 10px;

}
.image-model-icon{
    width: 128px;
    height: 53px;
    background-size: cover;
    /* border: 2px solid #fff; */
    margin: 10px;
    border-radius: 10px;
    color:#fff;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    font-weight: 800;
    border: none;
}
.mage-model-wrapper .image-model-icon{
    /* border: 2px solid #fff; */
}


.image-params-wrapper .ant-radio-button-wrapper-checked .image-model-icon{
    border: 2px solid var(--color-primary);
}
.image-params-wrapper .image-param-set{
    display: flex;
    padding: 10px;
}
.image-params-wrapper .image-param-set .image-param-label{
    flex:0 0 100px;
}
.image-param-label{
    font-size: 16px;
    line-height: 28px;
}
.image-params-wrapper .image-param-set .image-param-input{
    flex:1
}

.image-params-wrapper .model-amount{
    flex: 0 0 64px;
    margin: 2px;
    margin-top: 7px;
    padding: 5px;
    border: 1px solid #d9d9d9;;
    border-radius: 5px;
}

.image-params-wrapper .model-amount .amount-content{
    margin-top: 15px;
    display: flex;
}

.amount-content .amount-left{
    flex: 0 0 120px;
    text-align: center;
    font-weight: 600;
}
.amount-content .amount-right{
    flex: 1;
    padding-left: 10px;
}

.amount-content .amount-right .amount-item{
    display: flex;
}


.image-params-wrapper .amount-item .amount-title{
    flex: 0 0 110px;
}
.image-params-wrapper .end{
    height: 30px;
}