.menu-header{
    display: flex;
}
.menu-header .action-list{
    flex: 0 0 32px;
    margin-top: 6px;
}
.menu-header .menu-list{
    flex: 1;
    overflow-x: auto;
    overflow-y: hidden;
}
.menu-header .notices{
    flex: 0 0 40px;
    margin-right: 6px;
    text-align: center;
    padding: 10px;
    padding-left: 0;
}
.menu-header .feedback{
    flex: 0 0 70px;
    text-align: center;
    padding: 10px;
    padding-right: 5px;

}
.menu-header .feedback a{
    text-decoration: none;
    color: #000;
}
.menu-header .login-user{
    flex: 0 0 40px;
    margin-right: 6px;
}