.role-list-item-wrapper.readonly .role-description{
    height:180px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}
.role-item-icon{
    display: none;
}
.role-list-item-wrapper .ant-card:hover{
    border-color:var(--color-primary);
}

.role-list-item-wrapper.readonly:hover .role-item-icon{
    display: block;
    position: absolute;
    bottom: 20px;
    right: 10px;
}