.session-list-wrapper{
    padding: 0 5px;
    position: absolute;
    bottom: 0;
    top:0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
}
.session-list-wrapper .session-list-item.selected{
    color: #fff;
    background-color: var(--color-primary);
    box-shadow:0 2px 0 rgba(5, 145, 255, 0.1);
}

.session-list-wrapper .session-list-item.selected .content{
    color: #fff;
}


.session-list-wrapper .session-list-item.selected{
    color: #fff;
}

.session-list-wrapper .session-list-item:hover{
    color: #fff;
    background-color: var(--color-primary);
    box-shadow:0 2px 0 rgba(5, 145, 255, 0.1);
}

.session-list-wrapper .icon{
    padding-left: 7px;
    padding-top: 7px;
}

.session-list-wrapper button{
    margin-right: 2px;
}

.session-list-wrapper .session-list-item{
    border: 1px solid #ccc;
    margin: 2px;
    box-shadow: none !important; 
    border-radius: 5px;
    padding: 3px;
    display: flex;
}

.session-item-link{
    flex:1;
    display: flex;
    text-decoration: none;
    color: #000;
}
.session-action-btn{
    flex:0 0 20px;
}

.session-list-wrapper .session-list-items{
    border: 1px solid #ccc;
    margin: 2px;
    box-shadow: none !important; 
    border-radius: 5px;
    padding: 3px;
}
.session-item-link .content{
    padding: 3px;
}
.session-item-link .session-name{
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 3px;
}
.session-item-link .session-date{
    font-size: 11px;
}
.chat-session-action-button{
    width:100px
}

.session-list-wrapper .session-list{
    flex: 1;
    height: 100%;
    overflow: auto;
}