.session-list-wrapper{
    padding: 0 5px;
}
.session-list-wrapper .ant-list-item.selected{
    color: #fff;
    background-color: var(--color-primary);
    box-shadow:0 2px 0 rgba(5, 145, 255, 0.1);
}
.session-list-wrapper .ant-list-item.selected h4{
    color: #fff;
}
.session-list-wrapper .ant-list-item.selected .ant-list-item-meta-description{
    color: #fff;
}

.session-list-wrapper .ant-list-item:hover{
    color: #fff;
    background-color: var(--color-primary);
    box-shadow:0 2px 0 rgba(5, 145, 255, 0.1);
}

.session-list-wrapper .ant-list-item-meta-avatar{
    padding-left: 7px;
    padding-top: 7px;
}

.session-list-wrapper button{
    margin-right: 2px;
}

.session-list-wrapper .ant-list-item{
    border: 1px solid #ccc;
    margin: 2px;
    box-shadow: none !important; 
    border-radius: 5px;
    padding: 3px;
}
