.loading-mask{
    position: fixed;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100000;
    background-color: #fff;
    opacity: 0.7;
    background-repeat: no-repeat;
    text-align: center;
}

.loading-mask img{
    vertical-align: middle;
}